@{
    Layout = null;
    var seriesTitle = "The amazing spoder-ma";
    var issueNumber = 700;
    var descripiton = "<p> Final Issue!</p>";
    var artists = new string[]
    {
        "Script: Dan slott",
        "Pencil: humberto",
        "Inks:victor olababa",
        "Letters: Chris",

    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1> @seriesTitle</h1>
        <h2>Isssue #@issueNumber</h2>
        <h5>Description</h5>

        <div>@Html.Raw(descripiton)</div>
        
        
        @if (artists.Length > 0)
        {
            <h5>Artists: </h5>
            <div>
                <ul>


                    @foreach (var artist in artists)
                    {
                        <li>
                            <text> @artist</text>

                        </li>
                    }
                </ul>
            </div>
        }
       
    </div>
</body>
</html>
